<form action="/todos/{{ todo._id }}?_method=PUT" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
      </div>
    </div>
    {{!-- 這邊忘記用name屬性，導致req.body抓不到name的值，debug很久，要注意!! --}}
    <input type="text" placeholder="name" name="name" value="{{ todo.name }}">
    <div class="input-gruop-append">
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </div>
</form>